<div class="pointer-events-none fixed top-20 left-1/2 z-[70] w-full max-w-xl -translate-x-1/2 px-4 md:top-5">
  <%= if Phoenix.Flash.get(@flash, :info) do %>
    <ClaperWeb.Component.Alert.info message={Phoenix.Flash.get(@flash, :info)} />
  <% end %>

  <%= if Phoenix.Flash.get(@flash, :error) do %>
    <ClaperWeb.Component.Alert.error message={Phoenix.Flash.get(@flash, :error)} />
  <% end %>
</div>

{@inner_content}
