<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    {csrf_meta_tag()}
    <.live_title suffix=" . CoreOrbit Ask" )>
      {assigns[:page_title] || "CoreOrbit Ask"}
    </.live_title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="theme-color" content="#F8F4EC" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="NextGen Summit" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&amp;family=Space+Grotesk:wght@500;600;700&amp;display=swap"
    />
    <link phx-track-static rel="stylesheet" href="/assets/app.css" />
    <link phx-track-static rel="stylesheet" href="/assets/custom.css" />
    <script>
      window.claperConfig = {
        supportedLocales: <%= raw(Jason.encode!(Application.get_env(:claper, :languages, ["en", "fr", "es", "it", "de"]))) %>
      };
    </script>
    <script defer phx-track-static type="text/javascript" src="/assets/app.js">
    </script>
  </head>
  <body class="">
    <div class="min-h-full">
      <!-- Main column -->
      <div class="flex flex-col">
        <main class="flex-1">
          {@inner_content}
        </main>
      </div>
    </div>
  </body>
</html>
